.container{
    display: grid;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #4bca198e;
    justify-items: center;
    padding: 60px 15px;
    position: absolute;
    border-radius: 6px;
    width: 55%;
    min-width: 600px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.heading{
    font-size: 20px;
    font-weight: 550;
}

input[type="text"]{
    color: #419e66;
    justify-items: center;
    font-size: 30px;
    font-weight: 580;
    padding: 20px 0;
    text-align: center;
    width: 85px;
    margin-top: 35px;
    border-radius: 10px;
    border: 2px solid #2f2727;
    
}

#mybutton{
    font-size: 20px;
    font-weight: 580;
    padding: 20px 0;
    background-color: #993333;
    color: #ffffff;
    border: none;
    margin-bottom: 35px;
    outline: none;
    width: 180px;
    border-radius: 6px;
}

p{
    font-weight: 400;
    font-size:larger;
    font-style: normal;
    color: #b50707;
}

body{
    height: 90vh;
    background: linear-gradient(
        to left,
        #ac8a53,
        #ed65e4,
        #ec8181

    );
}